@font-face{
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: local("Rubik-Medium"),
           url("..fonts/Rubik-Medium.woff2") format("woff2"),
           url("..fonts/Rubik-Medium.woff") format("woff"),
}
@font-face{
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: local("DMSans-Regular"),
           url("..fonts/DMSans-Regular.woff2") format("woff2"),
           url("..fonts/DMSans-Regular.woff") format("woff"),
}

