@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header-top{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    
}
.header-logo__link{
    display: flex;
}
.header-logo__img{
    margin-right:10px ;
}
.menu__list{
    display: flex;
    &-item + .menu__list-item{
        padding-left: 35px;
    }
    &-link{
        color: $default;
    @extend %Rubik-Medium-500;
    font-size: 15px;
    line-height: 22px;
    }
}

.user__translation{
    display: flex;
    &__heart__and__cart{
        display: flex;
        border-radius: 25px;
        background-color: #fcd7b6;
        padding: 0 30px;
    }
    &__link{
        margin-left: 20px;
    }
    &-item{
        background-color: #a3bbc8;
         width: 50px;
        height: 50px;
        display: flex;
         justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        }
        &__heart{
            width: 50px;
            height: 50px;
            position: relative;
        }
        &__cart{
            width: 50px;
            height: 50px;
            position: relative;
        }
    &__num{
        position: absolute;
        top:15px;
        left: 15px;
        text-align: center;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        @extend %DMSans-Regular-400;
        font-size: 10px;
        line-height: 15px;
    }
}
.heart-icon{
    padding-top: 20px;
}
.cart-icon{
    padding-top: 20px;
}
.search-icon{
    padding: 10px;
}
.heart__link{
    margin-right: 29px;
    position: relative;
}
.heart__link::after{
    content: "";
    width: 1px;
    height: 33px;
    background-color: #fff;
    position: absolute;
    top:10px;
    right: 0;
}      


@import "media";