@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.heading{
    @extend %Rubik-Medium-500;
    color: $heading;
}
.header-top{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    
}
.header-logo__link{
    display: flex;
}
.header-logo__img{
    margin-right:10px ;
}
.menu__list{
    display: flex;
    &-item + .menu__list-item{
        padding-left: 35px;
    }
    &-link{
        color: $default;
    @extend %Rubik-Medium-500;
    font-size: 15px;
    line-height: 22px;
    }
}

.user__translation{
    display: flex;
    &__heart__and__cart{
        display: flex;
        border-radius: 25px;
        background-color: #fcd7b6;
        padding: 0 30px;
    }
    &__link{
        margin-left: 20px;
    }
    &-item{
        background-color: #a3bbc8;
         width: 50px;
        height: 50px;
        display: flex;
         justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        }
        &__heart{
            width: 50px;
            height: 50px;
            position: relative;
        }
        &__cart{
            width: 50px;
            height: 50px;
            position: relative;
        }
    &__num{
        position: absolute;
        top:15px;
        left: 15px;
        text-align: center;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        @extend %DMSans-Regular-400;
        font-size: 10px;
        line-height: 15px;
    }
}
.heart-icon{
    padding-top: 20px;
}
.cart-icon{
    padding-top: 20px;
}
.search-icon{
    padding: 10px;
}
.heart__link{
    margin-right: 29px;
    position: relative;
}
.heart__link::after{
    content: "";
    width: 1px;
    height: 33px;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    top:10px;
    right: 0;
}      
.footer__container{
    max-width: 1170px;
    margin: 0 auto;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    &__logo{
        margin-bottom: 25px;
    }
    &__item__adress{
        max-width: 200px;
    }
    &__links{
        @extend %txt;
        display: block;
    }
    &__title{
        @extend %title;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 25px;
    }
    &__item__form{
        max-width: 270px;
    }
    &__item__txt{
        @extend %txt;
        display: block;
        margin-bottom: 30px;
        line-height: 24px;
    }
    &__form{
        display: flex;
        justify-content: space-between;
    }
    &__input{
        background-color: rgba(252, 215, 182, .2);
        border: none;
        @extend %txt;
        padding: 10px 15px;
        outline: transparent;
    }
    &__input::placeholder{
        @extend %title;
        font-size: 12px;
        line-height: 1.2;
        color: #234969;
    }
    &__btn{
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 14px;
        line-height: 21px;
        @extend %DMSans-Regular-400;
        padding: 5px 15px;
    }
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    &__copy{
        @extend %txt;
    }
    &__nav{
        display: flex;
    }
    &__nav__item{
        display: block;
        padding-left: 10px;
        position: relative;
    }
    &__nav__item::before{
        content: "";
        background-color: $clr;
        width: 2px;
        height: 15px;
        background-color: $clr;
        position: absolute;
        top: 25%;
        left: 0;
    }
    &__nav__item:first-child::before{
        content: "";
        background-color: transparent;
    }
    &__nav__item:last-child{
        margin-right: 30px;
    }
    &__nav__item + .footer-bottom__nav__item{
        margin-left: 13px;
    }
    &__nav__link{
        @extend %txt;
    }
}
.top-slider__wrapper{
    padding-left: 300px;
    padding-right: 170px;
    background-color: rgb(252, 215, 182);
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    background-position:85% 45%;
    position: relative;
}
.top-slider__item{
    display: flex !important;
    justify-content: space-between;
}
.top-slider__content{
    padding-left:10px;
}
.top-slider__title{
    font-size: 72px;
    line-height: 70px;
    max-width: 425px;
    margin-top: 225px;
    margin-bottom: 40px;
}
.top-slider__txt{
@extend %txt;
max-width: 370px;
margin-bottom: 45px;
}
.btn-link{
    display: inline-block;
    background-color: rgb(163, 187, 200);
    padding: 20px 90px 20px 25px;
    @extend %txt;
    font-size: 15px;
    line-height: 12px;
    color:#fff;
    position: relative;
}
.btn-link::after{
    content: "";
    width: 25px;
    height: 10px;
    background-image: url("../images/arrow.svg");
    position: absolute;
    right: 20px;
    top: 40%;
    background-repeat: no-repeat;
}
.top-slider__img{
    margin-top: 290px;
    align-self: flex-end;
    position: relative;
    margin-right: 130px;
}
ul.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 180px;
   padding-bottom: 45px;
    & li{
        margin: 0 10px;
        
    }
    & button{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border:none;
        @extend %Rubik-Medium-500;
        color: #000;
        font-size: 11px;
        line-height: 9px;
        opacity: 0.302;
        transition: all .6s;
        outline: transparent;
    }
}
.slick-active button{
        opacity: 1 !important;
}

.info-block{
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(252, 215, 182, .2);
    margin-bottom: 70px;
    &__item{
        max-width: 300px;
        padding-left: 80px;
    }
    &__title{
        font-size: 18px;
        line-height: 40px;
        @extend %DMSans-Bold-700;
        color: #414141;
        position: relative;
    }
    &__item:nth-child(1) .info-block__title::before{
        content: "";
        width: 49px;
        height: 49px;
        position: absolute;
        left: -78px;
        top:10px;
        background-image: url("../images/supbefore.svg");
    }
    &__item:nth-child(2) .info-block__title::before{
        content: "";
        width: 54px;
        height:37px;
        position: absolute;
        left: -80px;
        top:10px;
        background-image: url("../images/delivbefore.svg");
    }
    &__item:nth-child(3) .info-block__title::before{
        content: "";
        width: 54px;
        height:53px;
        position: absolute;
        left: -91px;
        top:10px;
        background-image: url("../images/cardbefore.svg");
    }
    &__txt{
        font-size: 16px;
        line-height: 30px;
        @extend %DMSans-Regular-400;
        color: $clr;
    }
}

.products-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 130px;
    &__item{
        width: 870px;
        background-color: rgba(252, 215, 182, .4);
        position: relative;
    }
    &__content{
        max-width: 500px;
        padding-right: 100px;
        margin-left: auto;
    }
    &__img{
        position: absolute;
        left: 120px;
        top: -28%;
    }
    &__title{
        margin: 90px 0 20px;
        font-size: 26px;
        line-height: 32px;
        color: $heading;
    }
    &__txt{
        font-size: 16px;
        line-height: 30px;
        color: $heading;
        margin-bottom: 30px;
    }
    &__btn-link{
    display: inline-block;
    background-color: transparent;
    padding: 20px 90px 20px 20px;
    @extend %txt;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    position: relative;
    border: 1px solid #436372;
    border-radius: 5px;
    margin-bottom: 100px;
    }
    &__btn-link::after{
        content: "";
        width: 25px;
        height: 10px;
        background-image: url("../images/arrow2.svg");
        position: absolute;
        right: 20px;
        top: 40%;
        background-repeat: no-repeat;
    }
}
.video{
    min-width: 100vh;
    background-image: url("../images/videobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0;
    margin-bottom: 100px;
    &__btn{
        display: block;
        margin: 0 auto;
        width: 128px;
        height: 128px;
    }
}

.filters{
    margin: 0 auto;;
    padding: 40px 0 100px;
    &__list{
        display: flex;
        justify-content: center;
    }
    &__item + .filters__item{
        margin-left: 30px;
    }
    &__btn{
        border: none;
        background-color: #fff;
        @extend %DMSans-Bold-700;
        font-size: 16px;
        line-height: 24px;
        color: $clr;
        transition: all .2s;
        outline: transparent;
    }
    &__btn:focus{
        color: #191919;
    }
}

.products-top{
    &__inner{
        display: grid;
        width: 1170px;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr)
    }
    &__item{
        text-align: center;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        margin-bottom: 100px;
        padding: 30px 0;
    }
    &__img-box{
        display: flex;
        justify-content: center;
        object-fit: contain;
        position: relative;
    }
    &__link-box{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 20px;
        width: 160px;
        opacity: 0;
        transition: all .6s;
    }
    &__link-box__item{
        path{
            transition: all .6s;
        }
        padding-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        transition: all .6s;
    }
    &__link-box__item:hover{
        background-color: #a3bac7;
        path{
            fill:#fff;
        }
    }
    &__item-title{
        font-size: 16px;
        line-height: 40px;
        color:$heading;
        padding-top: 30px;
        font-weight: 400;
    }
    &__price{
        @extend %DMSans-Bold-700;
        font-size: 16px;
        line-height: 40px;
        color: #a3bbc8;
    }
    &__img-box:hover{
        .products-top__link-box{
            opacity: 1;
        }
    }
}

.articles{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fcd7b6;
        opacity: 0.2;
        height: 460px;
        z-index: -1;
    }
    &__inner{
        margin: 0 auto;
        max-width: 1170px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__top-link{
        @extend %DMSans-Bold-700;
        font-size: 16px;
        line-height: 1;
        color: #262626;
        padding-right: 25px;
        position: relative;
        &::after{
            content: "";
            width: 6px;
            height: 11px;
            background-image: url("../images/viewallarrow.svg");
            position: absolute;
            right: 0;
            top: 1px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        border-radius: 5px;
        max-width: 370px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        &__img-box{
            position: relative;
            object-fit: cover;

        }
        &__mark{
            position: absolute;
            left: 30px;
            bottom: -18px;
            background-color: #a3bbc8;
            border-radius: 25px;
            padding: 10px 30px 8px;
            z-index: 1;
        }
        &__img-box__link{
            color: #fff;
            @extend %DMSans-Bold-700;
            font-size: 14px;
            line-height: 1;
        }
        &__text-box{
            padding: 35px 28px 28px;
        }
        &__text{
            @extend %DMSans-Bold-700;
            font-size: 18px;
            line-height: 27px;
            color: #262626;
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
        }
        &__info{
            padding-top: 20px;
            @extend %Rubik-Regular-400;
            color: #222933;
            font-size: 12px;
            line-height: 18px;
        }
        &__date{
            margin-right: 30px;
            padding-left: 16px;
        }
        &__autor{
            padding-left: 16px;
        }
    }
}
.sponsors__inner{
    padding: 90px 0 85px;
    margin-bottom: 80px;
}
.sponsors__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.design{
    &__inner{
        margin: 0 auto;
        grid-gap: 35px 30px;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(3, 1fr );
        padding-bottom: 130px;
    }
    &__item{
        background-color: #f8f8f8;
        max-width: 370px;
        padding: 40px 0 100px 40px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: 85% 80%;
        &__title{
            max-width: 171px;
            @extend %DMSans-Bold-700;
            font-size: 20px;
            color: #191919;
            margin-bottom: 20px;
        }
        &__txt{
            @extend %DMSans-Bold-700;
            font-size: 16px;
            color: #a3bbc8;
        }
    }
}
@import "media";