.header-top{
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    
}
.header-logo__link{
    display: flex;
}
.header-logo__img{
    margin-right:10px ;
}
.menu__btn{
    display: none;
}
.menu__list{
    display: flex;
    &-item + .menu__list-item{
        padding-left: 35px;
    }
    &-link{
        color: $default;
    @extend %Rubik-Medium-500;
    font-size: 15px;
    line-height: 22px;
    }
}

.user__translation{
    display: flex;
    &__heart__and__cart{
        display: flex;
        border-radius: 25px;
        background-color: #fcd7b6;
        padding: 0 30px;
    }
    &__link{
        margin-left: 20px;
    }
    &-item{
        background-color: #a3bbc8;
         width: 50px;
        height: 50px;
        display: flex;
         justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        }
        &__heart{
            width: 50px;
            height: 50px;
            position: relative;
        }
        &__cart{
            width: 50px;
            height: 50px;
            position: relative;
        }
    &__num{
        position: absolute;
        top:15px;
        left: 15px;
        text-align: center;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        @extend %DMSans-Regular-400;
        font-size: 10px;
        line-height: 15px;
    }
}
.heart-icon{
    padding-top: 20px;
}
.cart-icon{
    padding-top: 20px;
}
.search-icon{
    padding: 10px;
}
.heart__link{
    margin-right: 29px;
    position: relative;
}
.heart__link::after{
    content: "";
    width: 1px;
    height: 33px;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    top:10px;
    right: 0;
}      
@media(max-width:1050px){
    .menu{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .menu__list {
        &.menu__list--active{
            transform: translateY(15%);
        }
        &-item + .menu__list-item{
            padding:0;
        }
         &-item{
             margin: 10px 0;
         }
    display: block;
    position: absolute;
    transform: translateY(-300%);
    transition: all .4s;
}
    .header-top{
        flex-flow: wrap;
    }
    .menu__btn{
        border:none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 20px;
        height: 20px;
        border-top: 2px solid #436372;
        border-bottom: 2px solid #436372;
        span{
            width: 100%;
            height: 8px;
            border-top: 2px solid #436372;
            border-bottom: 2px solid #436372;
        }
    }
}
@media(max-width:570px){
    .header{
        &-top{
            flex-flow: wrap column;
            padding: 50px 0;
        }
        &-logo__link{
            justify-content: center;
        }
    }
    .menu__list {
        transition: all .6s;
        text-align: center;
        width: 100%;
        background-color: #fff;
        z-index: 15;
        // &.menu__list--active{
        //     transform: translateY(15%);
        // }
    }
    .user__translation {
        justify-content: center;
        margin: 20px 0;
    }
    .user__translation{
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .user__translation__heart__and__cart {
        order: 1;
    }
   .user__translation__link {
        margin: 20px;   
        margin-bottom:5px;
        margin-top: 5px;
    }
}
