<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/index.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    {% include "app/modules/header/header.html" %}

    <main class="main">
    {# {% include "app/modules/topSlider/topSlider.html" %} #}
    {# {% include "app/modules/info/info.html" %} #}
    {# {% include "app/modules/products/products.html" %} #}
    {# {% include "app/modules/design/design.html" %} #}
    {# {% include "app/modules/video/video.html" %} #}
    {# {% include "app/modules/articles/articles.html" %} #}
    {# {% include "app/modules/sponsors/sponsors.html" %} #}

    </main>

    {% include "app/modules/footer/footer.html" %}
    <script src="js/main.min.js"></script>
</body>

</html>
