.design{
    &__inner{
        margin: 0 auto;
        grid-gap: 35px 30px;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(3, 1fr );
        padding-bottom: 130px;
    }
    &__item{
        background-color: #f8f8f8;
        width: 100%;
        max-width: 370px;
        padding: 40px 0 100px 40px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: 85% 80%;
        &__title{
            max-width: 171px;
            @extend %DMSans-Bold-700;
            font-size: 20px;
            color: #191919;
            margin-bottom: 20px;
        }
        &__txt{
            @extend %DMSans-Bold-700;
            font-size: 16px;
            color: #a3bbc8;
        }
    }
}
@media(max-width: 1200px){
    .design{
        &__inner{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 60px;
        }
    }
}
@media(max-width: 390px){
    .design{
        &__inner{
            padding-bottom: 30px;
        }
        &__item{
            background-image: none !important;
            padding: 20px 0;
            flex-flow: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}