.video{
    width: 100%;
    margin: 0 auto;
    max-width: 1700px;
    background-image: url("../images/videobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0;
    margin-bottom: 100px;
    &__btn{
        display: block;
        margin: 0 auto;
        width: 128px;
        height: 128px;
    }
}
@media(max-width:1070px){
    .video{
        background-position: center center;
        margin-bottom: 45px;
    }
}